.fri8am {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABDklEQVRIiWNgGAVkAkZkzqqr/9mEOP+U/2dgsGZgYGAm08y/DAwMR95/Z+kK02b8BRNkQVYBtaSJTAuQgbsg5x8GBgaGFpgAE7LsfwYGOypYAgP2yBwmNEkWBuoBFLPQLaIZIMuixy9eMfz+84ckPUQH1d9//xhOX7nGsP3IcYard+4zzGuuZmBlIT6kiVb59NUbhu75SxlYmJgZ/v//T7QFMEB00Anx8TB0FGYzeNtbkWwJSRbxcHExqMrJMDAyMhJWTIlFlIJRi8gGJBc5dsaGDCqyMgyc7Oy0tUheSoJBXkqCVG0DF0ekFWD4AYpZ6BYdpKJFB5A5KHH0/jtLlxDnH0YqVeXdZOofBagAAE7eO88x9bxIAAAAAElFTkSuQmCC);
    height:26px;
    width:26px;
    display:inline-block;
}
.fri8pm {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABlUlEQVRIiWNgGAVkAkZkzqqr/9mEOP+U/2dgsGZgYGAm08y/DAwMR95/Z+kK02b8BRNkQVYBtaSJTAuQgbsg5x8GBgaGFpgAE7LsfwYGOypYAgP2yBwmNEkWBuoBFLPQLaIZIMkHv37/Ybh+7z4DIyMjg4aiAgMbK/HaiVb57uMnhqpJ0xlev/vAwMDAwCAuLMTQmpfOIMjHR5R+ooNu+5HjDK/ffWCI8fVkiPH1ZHj59h3DtsPHidVOvI+0lRUZJEREGJzNjRn+/vvHsHL7bobnr99S3yIDDTU4+9iFSwy///xhUJWXJdoiklPdw2fPGWav3cQgJizI4GZlRrQ+klLdvSdPGZpnzGf4++cfQ2FMBAMnOzvReon20dlrNxhqpsxi+PT1K4Ovow3Dj1+/GB48fU60RUT7aOfRkww/f0LKyNU79zIwMDAwGGtpMFSlxlPXokAXewZHUyMUMQF+XmK1E2+RpqIC0YZiA3Qr69At+kNFs1HMQrfoIBUtOoDMQYmj999ZuoQ4/zBSqSrvJlP/KEAFAA8ubzwIT9qAAAAAAElFTkSuQmCC);
    height:26px;
    width:26px;
    display:inline-block;
}
.sat8am {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABjElEQVRIie2VyytEURjAf/fOpRk7ShYe4xlSKMXCYyLFykoee6thoSwsRUqNvY2/AAuxQtMYkaLII0mTiW5mgYyV0bjXtTG6M6szt8PKb/edc77v13n0HfjHIYo9WL2ycgs8xrQF7YDLYU0TOIgntMBQg5JMDWr2Fd+SOYcCO335HgNgPjWg2mct6JIgSeGzB2rGpIY80mplin6NrHZgfJpE7nUUFKq9JWiq+HsRFr29vzOztExUjwFQVVrMrH8Mj9stlC98dJu7+0T1GCP9vQz39XKrP7ARPhBNF99RfWU546OD9LS2YJgm66Ewsccn+aKm2hoAji6uWNkK8mGYtDc3CoucvbrvfmJhyRed30QIHZ/Q1thAYGqCHM3F4dmlsEj46K6jd6zthHh+ecVSLJIfBsVFhfJFA92dnF7fsLIdBKC6rIQBX4d8UZ7bzcKkn8i9DkCNtxSXKn7FWXUGl6pSV+HNJuWHP+t1mSJDYu20WpmiPYmisD1Iu6N4QgsUeAxF0le+6DD/n3S+AIZ9bsSO8lmGAAAAAElFTkSuQmCC);
    height:26px;
    width:26px;
    display:inline-block;
}
.sat8pm {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABVklEQVRIiWNgGAVkAkZkzqqr/9mEOP+U/2dgsGZgYGAm08y/DAwMR95/Z+kK02b8BRNkQVYBtaSJTAuQgbsg5x8GBgaGFpgAE7LsfwYGOypYAgP2yBwmNEkWBuoBFLPQLaIZINkHj168Ynj64iWDqJAgg4qcDG0s+v//P8OExcsZHj57weBoZsSQIxdKtF6Sgu7YhcsMj56/JEUL6Rb9//+fYc2ufQyW+rq0tejI+YsMj1++YghxdaSdRf/+/WNYDfWNvJQEWRYRlRhuPXrM8PTla4bX7z8wxFVDCo7DZy8y/Pr9h6EoLpJ6FnGysTPoqanA+Zdu3WHg5eZmkBARJsoSoi2Sl5JgqM9MhvODCysZDDRUGKK83KhrETooiY9iEBUSJEkPWRZZGpCexOlW1qFb9IeKZqOYhW7RQSpadACZgxJH77+zdAlx/mGkUlXeTab+UYAKAGOoXaaJ2pghAAAAAElFTkSuQmCC);
    height:26px;
    width:26px;
    display:inline-block;
}
.sun8am {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABlklEQVRIie2VTStEURiAn7kzMUM+ZrKRzwnFsPNR8pXZKAvZ8A9YWCkL1lIKC1n4BxZM2YokIgtFSUzTbXxNCmkGg6sxujZm3JmNM9NhNc/uPee+73Pe+3bPhQxpYjIGK6d6lsMWHdehDTCnWfMT2AtplpnBelMktmgxPvEtmUxTYKTHbosCTMUWFOOuDp0SJDG6jIGStGlBHgm1kkV/RkodHPtU3rT3eFxYkEeds1K+aGHJw2M4HI8bXbXUDUkWRSIfPL280NzgorejFYD83FzhQwrP6C4YQtd1XjWNE9VPkb2QypJi+SL1+hqAM/8Fq5vbjM0tELi9FxYJvzp3SxPuliYA/IEbJuYXWdvdZ3igXyhfuKNjn8rWwSEAVWUl2KzZBJ/Dv2T9INyR9/wSz8YWD8FHdJPO65uGs1R8RsKivu4Ojrw+ltc3AaguL6Wvq12+KMdqZXp0BPUqAEBNRRlmRfxiSemDNSsKtc6KVFLi/NtdlyyKSqydUCtZtCNRtG0MEmYU0iwzDlvUJOlXPptmfoZEvgChcHHkmAqThgAAAABJRU5ErkJggg==);
    height:26px;
    width:26px;
    display:inline-block;
}
.notice {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABV0lEQVRIie2UvUoDQRSFv9GdmUIsjPZpRBGSQrBLEYKFhT6IP3kDQQRBLARt8hR5iBCFVKmMNj5C0FiIgSRkr4UJyW42uxMN2OTrZu499+wdDgsL/hvl2ih1NF+2AsBKp6D26Lnolpw/pW2LQA7I0bZnrjKnDaRGip55BbU+kH3g6y1V+HxL0rpt0LNXo+EAssZS99JFmriBVM0OqCfAC5X6ILsq323E6R02UHfD4cfXWU5uMsPC8qAWS6yBPNoj4GB41lownoy37MuDPfyVgdTR9LkdvzPaR3t+qJF7ecHMbEDbFlFsBww8H6Ml3LnJuz2dyUBqpBA5D99r7WO0HyFQF1JZ3XA2mIzlD8YTtDexAXGxnYhpTCyTiIxtxAajWIYpldOUyulpBpGxDRiEYxmm2bI0W3ZaGSJiG3giqdoGkOFvPKt8Jzs8BJ9IkfjzSmQeMxbMlW//O17FVGADMQAAAABJRU5ErkJggg==);
    height:24px;
    width:24px;
    display:inline-block;
}
.dps {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABkUlEQVRIidXUv0vVURgG8E/aIheRC5HZEA5SW00O0aYOTbY0CkkgqAS59WvQf6Qc7uwgjTUnBMGFC4EELTk0REtDmpUN99w49/j61e+Fhh44cHjf533e5z3ncPjfcS7bv8EeXqf1sabWZdzCHKYwWxI2cZStxzXEnxS1mxFpsSAdYe0M4qtB3WJEnAyIv3G/QnwBv4K6yZMKHgXkn7gbcOdxGPA3KgyB5cDVAW5nnBl8d3zah6eJ97AQuPuGmylfXuphqqmFO9gvhL7iRsqvp9h+4g6EueQ8b/IZV1P+qeC918U0vhRNPql4KXUxjg+Ov5bdlBsYDTTRDsR7q504jbriG+hgJ3C9W8R28B7P6jjvnOB2PK1oqjZGztLgPLYDl82M0wym2061lRhCK3DX0X/Oo7rHUvJaSeMvhrP9iu43cS+LvdT9i7bwKov/wATG8BbXUvw6ruAS3uWNoi+3lUaueiGNxImmXsqJF/Vf7PNy1FMwhBf6L/xCScqbrNYQ72GtSjxvsjKAeA8PqsT/Cf4ALIKtlimGTMsAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.support {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVRIie2SQQrCMBBF3w1URBDrgYQiuOkVvJOr7rtxoeCBLApFxBu0mwTTMJOmtRvRB7MJw8z7SeDPN7EACuAErMYengEVUJt6AvsxBlvrWqmP0vjWWvVOo1lXZukWuA1No1kXZrFlBhyGpNGsLampLqGoBa71xDMugHkgTXCBb70BroLlHdg5fe7bqLjWUyAXBvuVm154f5BOUqAUhp1N+ecl7bdR8e/a1ov278iAh9Dnvo2IZp0IvUkgjUrIWkNK07ngAqwjhluWwDFmQay1hk2jIt11X8aY8Us0sNSPkQkaX1MAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.tank {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABgklEQVRIid3Vv0tWURwG8I8/sBI08g8QHZqChtKGoiGXEG0WF/E/MCKowMHVpcVwdnIJlAiCpEkEHZwMxBx0scAESZyk0oZzxNfTvfd934uQ9MDhuefc832ec7733O/hkqART7CEVYyg+SKE2zCGbZwkbRsvcKOMcBde46BCcAfTse1UjB/EuV1ZQg1J/25c8bCzFKzjPZZxXBF3W0hbb+wf4wMmhVRmGpxE/okVvMNmld12ox+PcCXVzTMYxX4V4RQdmEl1G3Mm1yueG5NncGH4/wwOI18todUa+ajI4FvkjhIGp3/0uY+dGnyN3FnC4DRmo8jgU+TeEgb3In8sMpiL/EAodLWiHffj83yRwRdhF60YqsNgCNewICktWcd0DL8wKBS/aujBAH7jefqyKSNgT6glfUJe1+NYFm7hFVowgbe1GMAibuIOHuIHtpI5j/FMSM0snuZo5aIJb5xdLGsYj+1zxfhUwUJrwjC++/vK3FXfQSjEdSHXG7G9FI7mv8cfvZ1RoXN/L6cAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.heals {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABJElEQVRIidXUPU4DMRCG4YefjjIgUaQJPS0X4BAcBSgQG4qEki6cIjegCZwgSBwBioDoQ7EU3gjv4kTZ3TT5JDe25/3sGY/Zdu21iO3gBmd4x/dGTlToCFPkxZhjqN2Bl8LjMW5rEsM/MEmYDDYBz9FHN2EwR68tPMcPZgmDHFeLwN014U84xWMxYB+H+Cxu8hLFHDQ5eRbNZ5Wb9IWa5MX+Tl34bWL90v/UvOG4Lny0Yt8ogk+LuJJSNYhzvq5ecS4UfaWWNdF9Ym+mZlo6yk3UFwq4MMkS8GRalmkQwZ6Fp1d95yN/ea8Fh2vppplVbtIIDidCm1cNurhrC19omDCYKDdRYzjhqx0nTDYCj00GyulqDN9ZsdbDhfBxPeCricH26xes/IvXY37e7QAAAABJRU5ErkJggg==);
    height:24px;
    width:24px;
    display:inline-block;
}
.beorning {
    background: url('images/Beorning-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.burg {
    background: url('images/Burglar-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.cpt {
    background: url('images/Captain-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.champ {
    background: url('images/Champion-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.guard {
    background: url('images/Guardian-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.hunt {
    background: url('images/Hunter-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.lm {
    background: url('images/Lore-master-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.mini {
    background: url('images/Minstrel-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.rk {
    background: url('images/Rune-keeper-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.warden {
    background: url('images/Warden-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.copy {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABA0lEQVRIie2Rz2rCQBDGv1Fp8+fgJhY8iaAogsfkAfpW6a0e9UF68CXEi7f1BSwUITZVk2oKenV7kyjRNZgchHy3mfl2frMzQMaiaMA5d66aiRaWZX3cAxDXzOF+D6brA9u2324FFJJMM/v2sN3tHM55PxOAEAKf3k8iSElmUBQVz6oCAOg0mwAAIuBJ0xzX8xqqpk2LQgwNw5jHvZfegJkVMNO8OMD6dwOTlV0qFl6rjH2d1xOtKE7+JsBkymvicBivwrCROgAAln6ACY+HpAI4hYhRNC89skzdVhvdVjuaqkeD1H5wSTkgB9wvkhn87V+PCO9Jmr6w8rHv468oc8Dj6x9jHllW4Djm4AAAAABJRU5ErkJggg==);
    height:24px;
    width:24px;
    display:inline-block;
    vertical-align: bottom;
}
.copy_done {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAB/klEQVRIidWTPWySURSGn9Ma+Wlt+RkY1GAKtCZETOSTxcQ0hoiRriaOHZ274IDRpA66dNeJxcQ2plMZapvGxFAT88Fio7FIo1aRSgU0dHAo10USoFDkp4Pvds859z7nnvdeOGJJ7ULX9cihxSJf/H7/k14A6rDi0t4elqGhh5qm3f5XwEAn3Wx+zVIslyO6rj84EoBSinT2W0eQY+0KjEYTBpMRgLMuFwAicNxsjmxns2Mmszk5qNS81Wr92Gx/Ww8sNjsWm61lA99/FLBZRrdlcGDSYbFsNeY7GlEz5Qu7JJL6aVWpvNgplcb6DgDI5XdJ6M0hfQHUQ9Rabbytye3k9Yzj9YzXhpy1i77doJX+f0DPHqRySeKZOOlCGkFw29wEY6Hw6vRyHHr8aPPvnrL4frFpTqHur00/v9P1iFK5ZMvDRwzDCBINxkLhrgFLH5YOxAThhvca0cu3GDEMo0Rm6jzQNE0aN+WLP+8BdxvjmWIGgPOOCUaNJ3j5KcnNc9eZPBNgJbPOr99lgItdmyx/W7nkvIDPMUHgpA+P3clKZp1nb5erZarrEbmsbgAe6Qu82dnEY3eyuvWq9nAQ0bu+wZRrio38BvuVfR7rCwRO+Uh8TtXViFJzB2beia7Ers4KEm2Wqz7TngAAwVgorERmUCoAgMhrUWqu+tH+ABswvaLx0xSjAAAAAElFTkSuQmCC);
    height:24px;
    width:24px;
    display:inline-block;
    vertical-align: bottom;
}
.sun {
    background: url('images/sun.png');
    height:48px;
    width:48px;
    display: inline-block;
}
.moon {
    background: url('images/moon.png');
    height:48px;
    width:48px;
    display: inline-block;
}
.pink {
    background: url('images/pink.png');
    height:48px;
    width:48px;
    display: inline-block;
}
.vil {
    background: url('images/chicken.png');
    height:48px;
    width:48px;
    display: inline-block;
}