.fri8am {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA10lEQVRIie2VMQrCMBSGP6tLD1C6iCKuji6CoxfwNp7BUa1ewTt4Bw9RuojgCSx1aIQSk/YltEPBH96QkHz/e4GXB33XwLIfA2NHVgY8mg6FwBnIgcIxciBRDKsuHmA9TjZ47Jm5qZLoCw0qBjNt7asAmJsMhi3Af1guGb+BPbCkfAaRRsJzd2ALpGpdSA2kFbyAFbCWgl0NNsAVmHZl4K2/QesGO+CGQ1NW+0DSPAsVTTKyOvnsdCUtGBzqSgsp/3PfgXNEGzi2kRkBk7pMDEqBp+OdHugDe7N0ytfpINAAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.fri8pm {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABHUlEQVRIidXVMS8EQRgG4MfRHCrJ5RIRifgLVPcjdCIqfopGSeIcorjoFP6BTqfQCYlWNKIhWheKXRfW7O7s5hT3JpOdnXzv+8433+Qbxh0TOettLFTUesJzWVATRxjgs+IYoJdq5OK4hnB2HOaJt2vuPJRJ61u08cNgKfNfFw0shwwmRyD+R2sqkvCKfVxLbt4WNmKIsUdyhT7mcIdNXI7SYBUPOEdXUszbGGLsEc2n3w+cpvNOJHeIjuLr94a1NHa3JDZoXmTwjhXM4qxE/JdBbA32cINtTOMC95HcqAzWA/E7MRnEFrmPk8xaYVMLGQwK4mbSEYug1r80uyx6IzA4KEqtKenndR+crkxt8p7MFhaLdhLAI14qcsYAX8RRqblsrLQyAAAAAElFTkSuQmCC);
    height:24px;
    width:24px;
    display:inline-block;
}
.sat8am {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABGklEQVRIidXVvy4EURQG8J+lsL21DRIhOs22S7Qi3sAbiMfwBFjeQCHxAhrbKvQSGhsSQqlbE4qdTRjz585kFPslJ5l7c77vO2dycg+TjqmM+zYWSmo94bUoqYlTRPgqGRF6sUYmzioIJ+MkS7xdsfK0Tlpj0cYPg+XEuSoaWEkzmK5B/I9WaMUR9rGFHZyHOoUaDPGADu6xh34IcSbQYBZX8feaUTeFM1/GAK5xgUtsYjeEVGZqXnCLD8zjswQXdIXNeT/OP8zJ6Y5FQ3/RAHdYx018Nwwhhhq8YzuuDjZwUKdBB494xhxWA3m/DKKC3MU4QpCq9S+PXRK9GgyO8lprGr3nVRfOscTCyVqZLSzlVZKCAd5KciYA32Zck+J0HdYBAAAAAElFTkSuQmCC);
    height:24px;
    width:24px;
    display:inline-block;
}
.sat8pm {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABAklEQVRIidXVP0rEYBAF8J+rTWpZthFBPYFgp60HELyCtSew1V5d11Jbj2Fh7QVsRFhEG8E2rIURQvySzcRY7IOBL2HmvXl8f4ZFx1LN/xHWglwveJ2XlOEKOWbByDEuOGox6UBcjcs68lHHzlNOhj+kg5LARuW7KwbYSgks90D+iyva8T12cNO2YCVAnuMYj5i2LYo4OMNnID8k8IBTDUfwLwJTHOIE21GBMnalz/V1IjfDbU3+rOBCu03ex12x/sARDrDXl4NyvGPT/Ccl5KCMVTxFCsqbnAfFmpDk+pfHropxDwLnTdYy35ep68C5UBk4dSNziPWmThJ4xluwZgHwBQqplo1f8r+iAAAAAElFTkSuQmCC);
    height:24px;
    width:24px;
    display:inline-block;
}
.sun8am {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABFklEQVRIid3VMUoEQRAF0OdosonZuokIIojgAQw2NTARL2DuFcQbmKq7Zp7AwMBIL+AlTEQEEQMRA4VBg+nFYZyZ7RnGQD80TRXV/1fRXV38dcxU+AdYbMh1j8dpQT2MkeKz4UoxChyVOG1BXFwnVeSDlpmXVdKfkCY5geWC3RYJVsoEZjsg/8E11+DQAZ5z9r6s6lo0ERhjHgvBfos5FCvwjhccYq9BUtGX+hT2syBw1bXAB3Zk3X2OrbA3wlDcO78O8bs1McMJaewd3OJV1kCXwbfWZQUXhdjNINhZBdu4wQNWsR6bdV4grYlLsBFLWsX1K59dEaMOBI7qSuvJ/vO2A+dYYeBUjcw+luoyKcGd747/R/gCxribaBp37+4AAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.notice {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABV0lEQVRIie2UvUoDQRSFv9GdmUIsjPZpRBGSQrBLEYKFhT6IP3kDQQRBLARt8hR5iBCFVKmMNj5C0FiIgSRkr4UJyW42uxMN2OTrZu499+wdDgsL/hvl2ih1NF+2AsBKp6D26Lnolpw/pW2LQA7I0bZnrjKnDaRGip55BbU+kH3g6y1V+HxL0rpt0LNXo+EAssZS99JFmriBVM0OqCfAC5X6ILsq323E6R02UHfD4cfXWU5uMsPC8qAWS6yBPNoj4GB41lownoy37MuDPfyVgdTR9LkdvzPaR3t+qJF7ecHMbEDbFlFsBww8H6Ml3LnJuz2dyUBqpBA5D99r7WO0HyFQF1JZ3XA2mIzlD8YTtDexAXGxnYhpTCyTiIxtxAajWIYpldOUyulpBpGxDRiEYxmm2bI0W3ZaGSJiG3giqdoGkOFvPKt8Jzs8BJ9IkfjzSmQeMxbMlW//O17FVGADMQAAAABJRU5ErkJggg==);
    height:24px;
    width:24px;
    display:inline-block;
}
.dps {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABkUlEQVRIidXUv0vVURgG8E/aIheRC5HZEA5SW00O0aYOTbY0CkkgqAS59WvQf6Qc7uwgjTUnBMGFC4EELTk0REtDmpUN99w49/j61e+Fhh44cHjf533e5z3ncPjfcS7bv8EeXqf1sabWZdzCHKYwWxI2cZStxzXEnxS1mxFpsSAdYe0M4qtB3WJEnAyIv3G/QnwBv4K6yZMKHgXkn7gbcOdxGPA3KgyB5cDVAW5nnBl8d3zah6eJ97AQuPuGmylfXuphqqmFO9gvhL7iRsqvp9h+4g6EueQ8b/IZV1P+qeC918U0vhRNPql4KXUxjg+Ov5bdlBsYDTTRDsR7q504jbriG+hgJ3C9W8R28B7P6jjvnOB2PK1oqjZGztLgPLYDl82M0wym2061lRhCK3DX0X/Oo7rHUvJaSeMvhrP9iu43cS+LvdT9i7bwKov/wATG8BbXUvw6ruAS3uWNoi+3lUaueiGNxImmXsqJF/Vf7PNy1FMwhBf6L/xCScqbrNYQ72GtSjxvsjKAeA8PqsT/Cf4ALIKtlimGTMsAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.support {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVRIie2SQQrCMBBF3w1URBDrgYQiuOkVvJOr7rtxoeCBLApFxBu0mwTTMJOmtRvRB7MJw8z7SeDPN7EACuAErMYengEVUJt6AvsxBlvrWqmP0vjWWvVOo1lXZukWuA1No1kXZrFlBhyGpNGsLampLqGoBa71xDMugHkgTXCBb70BroLlHdg5fe7bqLjWUyAXBvuVm154f5BOUqAUhp1N+ecl7bdR8e/a1ov278iAh9Dnvo2IZp0IvUkgjUrIWkNK07ngAqwjhluWwDFmQay1hk2jIt11X8aY8Us0sNSPkQkaX1MAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.tank {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABgklEQVRIid3Vv0tWURwG8I8/sBI08g8QHZqChtKGoiGXEG0WF/E/MCKowMHVpcVwdnIJlAiCpEkEHZwMxBx0scAESZyk0oZzxNfTvfd934uQ9MDhuefc832ec7733O/hkqART7CEVYyg+SKE2zCGbZwkbRsvcKOMcBde46BCcAfTse1UjB/EuV1ZQg1J/25c8bCzFKzjPZZxXBF3W0hbb+wf4wMmhVRmGpxE/okVvMNmld12ox+PcCXVzTMYxX4V4RQdmEl1G3Mm1yueG5NncGH4/wwOI18todUa+ajI4FvkjhIGp3/0uY+dGnyN3FnC4DRmo8jgU+TeEgb3In8sMpiL/EAodLWiHffj83yRwRdhF60YqsNgCNewICktWcd0DL8wKBS/aujBAH7jefqyKSNgT6glfUJe1+NYFm7hFVowgbe1GMAibuIOHuIHtpI5j/FMSM0snuZo5aIJb5xdLGsYj+1zxfhUwUJrwjC++/vK3FXfQSjEdSHXG7G9FI7mv8cfvZ1RoXN/L6cAAAAASUVORK5CYII=);
    height:24px;
    width:24px;
    display:inline-block;
}
.heals {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABJElEQVRIidXUPU4DMRCG4YefjjIgUaQJPS0X4BAcBSgQG4qEki6cIjegCZwgSBwBioDoQ7EU3gjv4kTZ3TT5JDe25/3sGY/Zdu21iO3gBmd4x/dGTlToCFPkxZhjqN2Bl8LjMW5rEsM/MEmYDDYBz9FHN2EwR68tPMcPZgmDHFeLwN014U84xWMxYB+H+Cxu8hLFHDQ5eRbNZ5Wb9IWa5MX+Tl34bWL90v/UvOG4Lny0Yt8ogk+LuJJSNYhzvq5ecS4UfaWWNdF9Ym+mZlo6yk3UFwq4MMkS8GRalmkQwZ6Fp1d95yN/ea8Fh2vppplVbtIIDidCm1cNurhrC19omDCYKDdRYzjhqx0nTDYCj00GyulqDN9ZsdbDhfBxPeCricH26xes/IvXY37e7QAAAABJRU5ErkJggg==);
    height:24px;
    width:24px;
    display:inline-block;
}
.beorning {
    background: url('images/Beorning-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.burg {
    background: url('images/Burglar-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.cpt {
    background: url('images/Captain-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.champ {
    background: url('images/Champion-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.guard {
    background: url('images/Guardian-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.hunt {
    background: url('images/Hunter-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.lm {
    background: url('images/Lore-master-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.mini {
    background: url('images/Minstrel-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.rk {
    background: url('images/Rune-keeper-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}
.warden {
    background: url('images/Warden-icon.png');
    height:24px;
    width:24px;
    display:inline-block;
}