.tip {
    text-decoration: none;
}
.tip:hover {
    cursor: help;
    position: relative;
}
.tip span {
    display: none;
    transition: 0.5s;
    font-size: 0.9em;
}
.tip:hover span, .tip:active span {
    border: 1px solid #7f8c8d;
    box-shadow: 0 0 0.2em #3498db;
    padding: 0.2em;
    display: block;
    z-index: 999;
    background: #222;
    left: 0px;
    margin: -30px 0 0 0;
    position: absolute;
    top: 0.2em;
    min-width: 7em;
    text-align: center;
}
.tipleft:hover span, .tipleft:active span {
    margin: -30px 0 0 -100px;
}
#slot1c,#slot2c,#slot3c,#slot4c,#slot5c {
    display: inline;
    position: center;
    margin-left: auto;
    margin-right: auto;
}
#wrapper {
    display: flex;
    justify-content: center;
}
#sorting,#container {
    display: block;
}
.hide {
    visibility: hidden;
}